<section class=" container mx-auto py-14 px-5 min-h-[80vh]">
  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-4 gap-8 min-h-[60vh]" >
    <!-- Sidebar -->
    <aside class=" col-span-3 md:col-span-1 bg-white rounded-lg shadow-lg p-6">
      <div class="text-center mb-8">
        <img src="assets/images/UserImage.png" alt="User Avatar"
          class=" mx-auto rounded-full border border-gray-300 w-24" />
        <h2 class="text-xl font-semibold mt-4 text-gray-700">
          {{ currentUser.username }}
        </h2>
        <p class="text-gray-500 text-xs">{{ currentUser.email }}</p>
      </div>

      <ul class="space-y-4">
        <li>
          <button
            [ngClass]="{'bg-blue-600 text-white': currentSection === 'orderHistory', 'bg-gray-100 text-gray-700': currentSection !== 'orderHistory'}"
            class="w-full text-left py-2 px-4 font-medium rounded-lg hover:bg-blue-700 transition"
            (click)="currentSection = 'orderHistory'">
            Order History
          </button>
        </li>
        <li>
          <button
            [ngClass]="{'bg-blue-600 text-white': currentSection === 'changeDetails', 'bg-gray-100 text-gray-700': currentSection !== 'changeDetails'}"
            class="w-full text-left py-2 px-4 font-medium rounded-lg hover:bg-blue-700 transition"
            (click)="currentSection = 'changeDetails'">
            Change Details
          </button>
        </li>
        <li>
          <button
            [ngClass]="{'bg-blue-600 text-white': currentSection === 'Wishlist', 'bg-gray-100 text-gray-700': currentSection !== 'Wishlist'}"
            class="w-full text-left py-2 px-4 font-medium rounded-lg hover:bg-blue-700 transition"
            (click)="currentSection = 'Wishlist'">
            Wishlist
          </button>
        <li>
          <button (click)="logout()"
            class="w-full text-left py-2 px-4 bg-red-600 text-white font-medium rounded-lg hover:bg-red-700 transition">
            Logout
          </button>
        </li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main class="col-span-3 bg-white rounded-lg shadow-lg p-6 ">
  
      <div *ngIf="currentSection === 'orderHistory'" class="max-h-[60vh] overflow-y-auto p-4">
        <h1 class="text-3xl font-extrabold text-gray-800 mb-8">Order Details</h1>
        <div class="space-y-6">
          <div *ngFor="let order of orderHistory" class="bg-white border border-gray-200 rounded-lg shadow-lg p-6">
            <div class="flex items-center justify-between">
              <div>
                <h3 class="text-lg font-semibold text-gray-800">Order Details</h3>
                <p class="text-sm text-gray-500">Id: {{ order.id }}</p>
                <p class="text-sm font-medium text-gray-800">Total: <span class="text-green-600">₹{{
                    order.totalAmount | number: '1.2-2' }}</span></p>
              </div>
              <button class="text-blue-600 hover:text-blue-800 hover:underline font-medium"
                (click)="toggleDetails(order.id)">
                {{ expandedOrderId === order.id ? 'Hide Details' : 'View Details' }}
              </button>
            </div>

            <!-- Expanded Order Details -->
            <div *ngIf="expandedOrderId === order.id" class="mt-4 bg-gray-50 rounded-lg border border-gray-200 p-4">
              <h4 class="text-md font-medium text-gray-700 mb-2">Order Details</h4>
              <div class="space-y-2">
                <p class="text-sm text-gray-600"><span class="font-medium">Vendor:</span> {{ order.vendor.username }}
                </p>
                <p class="text-sm text-gray-600"><span class="font-medium">Item :</span> {{ order.itemId }}</p>
                <p class="text-sm text-gray-600"><span class="font-medium">Order Date :</span>{{ order.orderDate |
                  date:'mediumDate' }}</p>
                <p class="text-sm text-gray-600"><span class="font-medium">Delivery Date:</span> {{
                  (order.estimatedDeliveryDate | date:'mediumDate')
                  || "NA"}}</p>
                <p class="text-sm text-gray-600"><span class="font-medium">Order Status:</span> {{ order.orderStatus
                  }}</p>
                <p class="text-sm text-gray-600">
                  <span class="font-medium">Estimated Delivery Date:</span> {{ order.estimatedDeliveryDate |
                  date:'mediumDate' }}
                </p>
              </div>
            </div>
          </div>
          <!-- Placeholder for No Orders -->
          <div *ngIf="orderHistory.length === 0" class="text-center">
            <p class="text-gray-500">No orders found.</p>
          </div>
        </div>
      </div>

      <!-- Change Details Section -->

      <div *ngIf="currentSection === 'changeDetails' && currentUser" class="max-w-2xl mx-auto bg-white max-h-[60vh] overflow-y-auto p-4 ">
        <h1 class="text-3xl font-extrabold text-gray-800 mb-8">Change Details</h1>
        <form (ngSubmit)="onUpdateDetails()" #vendorForm="ngForm">
          
          <!-- Username Field -->
          <div class="mb-6">
            <label for="username" class="block text-sm font-medium text-gray-700 mb-2">Username</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="currentUser.username"
              name="username"
              required
              class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
      
          <!-- Email Field -->
          <div class="mb-6">
            <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
            <input
              type="email"
              id="email"
              [(ngModel)]="currentUser.email"
              name="email"
              required
              class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
      
          <!-- Phone Number Field -->
          <div class="mb-6">
            <label for="phoneNumber" class="block text-sm font-medium text-gray-700 mb-2">Phone Number</label>
            <input
              type="tel"
              id="phoneNumber"
              [(ngModel)]="currentUser.phoneNumber"
              name="phoneNumber"
              required
              pattern="^(\+?\d{1,3}[-\s]?)?(\(?\d{1,4}\)?[-\s]?)?[\d\s-]{5,15}$"
              class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            />
          </div>
      
          <!-- Submit Button -->
          <button
            type="submit"
            [disabled]="vendorForm.invalid"
            class="w-full py-2 mt-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all disabled:bg-gray-400"
          >
            Save Changes
          </button>
        </form>
      </div>
    </main>
  </div>
</section>