footer{
    background-color: black;
    color: white;
    font-size: small;
}

.li_header{
    color: gray;
    padding-bottom: 1rem;
}
.li_normal{
    font-weight: bold;
}
i{
    font-size: large;
}